<!DOCTYPE html>
<html lang="ja">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=375, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="" >

    <title></title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

    <!-- Vue.js -->
    <script src="//unpkg.com/vue"></script>

</head>
<body>

    <!-- ヘッダー -->
    <header>
        <!-- ヘッダー部分 -->
        <div class="header" id="header">
            <div class="header__warpper hp_wrapper">
    
                <!-- ロゴ -->
                <a class="header__logo" @mouseover="hide_meganav">
                    <img loading='lazy' src='assets/img/logo.svg' alt='オリジナル制作ならデザインクリエイト｜Design Create'>
                </a>
    
                <!-- ナビ -->
                <nav>
                    <ul class="header__nav">
                        <li>
                            <head_link ja="サービス案内" en="Service" url="#" @show_meganav='show_meganav'/>
                        </li>
                        <li>
                            <head_link ja="制作の流れ" en="Flow" url="#" @show_meganav='show_meganav'/>
                        </li>
                        <li>
                            <head_link ja="選ばれる理由" en="Reasons" url="#" @show_meganav='show_meganav'/>
                        </li>
                        <li>
                            <head_link ja="実績" en="Works" url="#" @show_meganav='show_meganav'/>
                        </li>
                        <li>
                            <head_link ja="料金案内" en="Price" url="#" @show_meganav='show_meganav'/>
                        </li>
                        <li>
                            <head_link ja="よくある質問" en="Q&A" url="#" @show_meganav='show_meganav'/>
                        </li>
                        <li>
                            <head_link ja="会社概要" en="About us" url="#" @show_meganav='show_meganav'/>
                        </li>
                        <li>
                            <a href="" class="header__contact" @mouseover="hide_meganav">
                                お問合せ
                            </a>
                        </li>
                    </ul>
                </nav>
    
                <!-- メガメニュー -->
                <transition name="meganav">
                    <nav class="header__mega meganav" v-if='is_mega_show' @mouseleave="hide_meganav">
                        <div class="meganav__left">
                            <a class="meganav__content">
                                <figure class="meganav__img">
                                    <img loading='lazy' src='assets/img/meganav/img (1).jpg' alt='ホームページ制作'>
                                </figure>
                                <p class="meganav__text">ホームページ制作</p>
                            </a>
                            <a class="meganav__content">
                                <figure class="meganav__img">
                                    <img loading='lazy' src='assets/img/meganav/img (2).jpg' alt='デザイン制作'>
                                </figure>
                                <p class="meganav__text">デザイン制作</p>
                            </a>
                            </a>
                            <a class="meganav__content">
                                <figure class="meganav__img">
                                    <img loading='lazy' src='assets/img/meganav/img (3).jpg' alt='名刺・チラシ・POP制作'>
                                </figure>
                                <p class="meganav__text">名刺・チラシ・POP制作</p>
                            </a>
                            </a>
                            <a class="meganav__content">
                                <figure class="meganav__img">
                                    <img loading='lazy' src='assets/img/meganav/img (4).jpg' alt='大型看板・ポスター制作'>
                                </figure>
                                <p class="meganav__text">大型看板・ポスター制作</p>
                            </a>
                            </a>
                            <a class="meganav__content">
                                <figure class="meganav__img">
                                    <img loading='lazy' src='assets/img/meganav/img (5).jpg' alt='冊子・会報誌制作'>
                                </figure>
                                <p class="meganav__text">冊子・会報誌制作</p>
                            </a>
                            </a>
                            <a class="meganav__content">
                                <figure class="meganav__img">
                                    <img loading='lazy' src='assets/img/meganav/img (6).jpg' alt='SEO対策コンサルティング'>
                                </figure>
                                <p class="meganav__text">SEO対策コンサルティング</p>
                            </a>
                        </div>
                        <div class="meganav__right">
                            <a href="" class="meganav__link">制作の流れ</a>
                            <a href="" class="meganav__link">選ばれる理由</a>
                        </div>
                    </nav>
                </transition>
    
                <!-- モバイルナビ -->
                <button class="header__hum" @click="click_hum">
                    <div class="header__hum_open" :class="{ active: is_mobile_show }"></div>
                    <div class="header__hum_open" :class="{ active: is_mobile_show }"></div>
                    <div class="header__hum_open" :class="{ active: is_mobile_show }"></div>
                    <div class="header__hum_close2" :class="{ active: is_mobile_show }"></div>
                    <div class="header__hum_close1" :class="{ active: is_mobile_show }"></div>
                </button>
                <transition name="mobilenav">
                    <nav class="header__mobilenav mobilenav" v-if='is_mobile_show'>
                        <ul>
                            <li>
                                <a href="" class="mobilenav__link">サービス案内</a>
                            </li>
                            <li>
                                <a href="" class="mobilenav__link">制作の流れ</a>
                            </li>
                            <li>
                                <a href="" class="mobilenav__link">選ばれる理由</a>
                            </li>
                            <li>
                                <a href="" class="mobilenav__link">実績</a>
                            </li>
                            <li>
                                <a href="" class="mobilenav__link">料金案内</a>
                            </li>
                            <li>
                                <a href="" class="mobilenav__link">よくある質問</a>
                            </li>
                            <li>
                                <a href="" class="mobilenav__link">会社概要</a>
                            </li>
                            <li>
                                <a href="" class="mobilenav__link">お問い合わせ</a>
                            </li>
                        </ul>
        
                    </nav>
                </transition>
            </div>
        </div>

    </header>

    <!-- メインコンテンツ -->
    <main class="hp_page">

        <!-- サービス案内 -->
        <header class="p_map hp_wrapper">
            <!-- 見出し -->
            <p class="hp_blue">SiteMap</p>
            <h2 class="hp_title">サイトマップ</h2>
        </header>

        <!-- メインコンテンツ -->
        <section class="hp_wrapper p_map">
            <article class="p_map__content">
                <div class="hp_head">
                    <div class="hp_head__left">
                        <img src="assets/img/icon/icon1.svg" alt="アイコン" class="hp_head__img">
                        <a href="" class="hp_head__title hp_head__title_link">サービス案内</a>
                    </div>
                    <p class="hp_head__text">
                        (WEB制作デザイン制作･名刺･チラシ･看板･ポスター･冊子･会報誌)
                    </p>
                </div>
            </article>
            
            <article class="p_map__content">
                <div class="hp_head">
                    <div class="hp_head__left">
                        <img src="assets/img/icon/icon1.svg" alt="アイコン" class="hp_head__img">
                        <a href="" class="hp_head__title hp_head__title_link">
                            料金について
                        </a>
                    </div>
                    <p class="hp_head__text">
                        各種サービスの料金表を掲載しております。
                    </p>
                </div>
            </article>
            
            <article class="p_map__content">
                <div class="hp_head">
                    <div class="hp_head__left">
                        <img src="assets/img/icon/icon1.svg" alt="アイコン" class="hp_head__img">
                        <a href="" class="hp_head__title hp_head__title_link">
                            制作の流れ
                        </a>
                    </div>
                    <p class="hp_head__text">
                        制作の流れについてのご説明｡不明な点はお問い合わせください｡
                    </p>
                </div>
            </article>
            
            <article class="p_map__content">
                <div class="hp_head">
                    <div class="hp_head__left">
                        <img src="assets/img/icon/icon1.svg" alt="アイコン" class="hp_head__img">
                        <a href="" class="hp_head__title hp_head__title_link">
                            選ばれる理由
                        </a>
                    </div>
                    <p class="hp_head__text">
                        弊社が長年多くの企業様に選ばれる理由
                    </p>
                </div>
            </article>
            
            <article class="p_map__content">
                <div class="hp_head">
                    <div class="hp_head__left">
                        <img src="assets/img/icon/icon1.svg" alt="アイコン" class="hp_head__img">
                        <a href="" class="hp_head__title hp_head__title_link">
                            実績案内
                        </a>
                    </div>
                    <p class="hp_head__text">
                        過去のそれぞれの実績を掲載しております。
                    </p>
                </div>
            </article>
            
            <article class="p_map__content">
                <div class="hp_head">
                    <div class="hp_head__left">
                        <img src="assets/img/icon/icon1.svg" alt="アイコン" class="hp_head__img">
                        <a href="" class="hp_head__title hp_head__title_link">
                            よくある質問
                        </a>
                    </div>
                    <p class="hp_head__text">
                        皆様からいただく質問等をまとめましたのでご一読くださいませ。
                    </p>
                </div>
            </article>
            
            <article class="p_map__content">
                <div class="hp_head">
                    <div class="hp_head__left">
                        <img src="assets/img/icon/icon1.svg" alt="アイコン" class="hp_head__img">
                        <a href="" class="hp_head__title hp_head__title_link">
                            プライバシーポリシー
                        </a>
                    </div>
                    <p class="hp_head__text">
                        デザインクリエイトは、皆様の個人情報の重要性を認識し、その適正な収集、利用、保護をはかるとともに、安全管理を行うため、プライバシーポリシーを定め、次のとおり運用します。
                    </p>
                </div>
            </article>
            
            <article class="p_map__content">
                <div class="hp_head">
                    <div class="hp_head__left">
                        <img src="assets/img/icon/icon1.svg" alt="アイコン" class="hp_head__img">
                        <a href="" class="hp_head__title hp_head__title_link">
                            お問い合わせ
                        </a>
                    </div>
                    <p class="hp_head__text">
                        どのようなことでも構いません｡ご不明な点はお気軽にお問い合わせ下さい｡
                    </p>
                </div>
            </article>
            
            <article class="p_map__content">
                <div class="hp_head">
                    <div class="hp_head__left">
                        <img src="assets/img/icon/icon1.svg" alt="アイコン" class="hp_head__img">
                        <a href="" class="hp_head__title hp_head__title_link">
                            会社概要
                        </a>
                    </div>
                    <p class="hp_head__text">
                        代表の想いや経歴を掲載しております｡
                    </p>
                </div>
            </article>
            
            <article class="p_map__content">
                <div class="hp_head">
                    <div class="hp_head__left">
                        <img src="assets/img/icon/icon1.svg" alt="アイコン" class="hp_head__img">
                        <a href="" class="hp_head__title hp_head__title_link">
                            ブログ
                        </a>
                    </div>
                    <p class="hp_head__text">
                        ニュースや役立つ情報を発信中です｡メルマガ登録大募集！
                    </p>
                </div>
            </article>
        </section>

        <!-- お問合せ -->
        <aside class="tocontact hp_wrapper">
            <p class="tocontact__title">お気軽にお問い合わせください</p>
            <div class="tocontact__content">
                <p class="tocontact__text">
                    デザインクリエイトトのスタイルは「顔の見えるサイト制作」です。
                    <br>お客様のもとへ直接伺い、お客様それぞれにあったプランニングを行います。
                    <br>サイトやツールのデザインイメージがはっきりと確定していない方でも大丈夫！
                    <br>お客様に合わせたご提案を差し上げます。
                    <br>デザインはお客様がご納得いくまで何度でも修正可能です。
                    <br>お問い合わせフォーム・FAX・お電話にて、お気軽にお問い合わせください。
                </p>
                <a href="" class="tocontact__btn">お問い合わせ</a>
            </div>
        </aside>

    </main>

    <!-- フッター -->
    <footer>
        <!-- お問い合わせ -->
        <div class="ft_contact">
            <div class="ft_contact__wrapper hp_wrapper">
                <p class="ft_contact__text">ご相談・ご質問等ございましたら、お気軽にお問い合わせください。</p>
                <a href="" class="ft_contact__btn">お問い合わせ</a>
            </div>
        </div>
        
        <!-- メイン -->
        <div class="ft_main">
            <nav class="ft_main__wrapper hp_wrapper">
                <div class="ft_main__content">
                    <a href="" class="ft_main__link">
                        <p class="ft_main__link_white">サービス案内</p>
                        <p class="ft_main__link_blue">Service</p>
                    </a>
                    <a href="" class="ft_main__gray">デザイン制作</a>
                    <a href="" class="ft_main__gray">名刺･チラシ･POP制作</a>
                    <a href="" class="ft_main__gray">大型看板･ポスター制作</a>
                    <a href="" class="ft_main__gray">会報誌･冊子制作</a>
                    <a href="" class="ft_main__gray">SEOコンサルティング</a>
                </div>

                <div class="ft_main__content">
                    <a href="" class="ft_main__link">
                        <p class="ft_main__link_white">制作の流れ</p>
                        <p class="ft_main__link_blue">Flow</p>
                    </a>
                    <a href="" class="ft_main__link">
                        <p class="ft_main__link_white">選ばれる理由</p>
                        <p class="ft_main__link_blue">Selected</p>
                    </a>
                    <a href="" class="ft_main__link">
                        <p class="ft_main__link_white">実績</p>
                        <p class="ft_main__link_blue">Works</p>
                    </a>
                </div>

                <div class="ft_main__content">
                    <a href="" class="ft_main__link">
                        <p class="ft_main__link_white">料金案内</p>
                        <p class="ft_main__link_blue">Price</p>
                    </a>
                    <a href="" class="ft_main__link">
                        <p class="ft_main__link_white">会社案内</p>
                        <p class="ft_main__link_blue">Company</p>
                    </a>
                </div>

                <div class="ft_main__content">
                    <a href="" class="ft_main__link">
                        <p class="ft_main__link_white">新着情報</p>
                        <p class="ft_main__link_blue">News</p>
                    </a>
                    <a href="" class="ft_main__link">
                        <p class="ft_main__link_white">お問い合わせ</p>
                        <p class="ft_main__link_blue">Contact</p>
                    </a>
                    <a href="" class="ft_main__gray ft_main__gray_small">プライバシーポリシー</a>
                    <a href="" class="ft_main__gray ft_main__gray_small">サイトマップ</a>
                </div>

                <a href="#" class="ft_main__gotop">PAGE TOP</a>
            </nav>
        </div>

        <!-- コピーライト -->
        <div class="ft_cp">
            <div class="hp_wrapper ft_cp__wrapper">
                <p class="ft_cp__text">埼玉県川口市ホームページ制作｜デザインクリエイト</p>
                <p class="ft_cp__text">Copyright ©️ Design Create All Rights Reserved.</p>
            </div>
        </div>
    </footer>

<script src="assets/js/script.js"></script>
</body>
</html>